<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CET talks</title>

    <style>
      .main-container {
        display: flex;
        height: 100%;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <div>
        <div>mesgwrapper</div>
        <div>stus</div>
        <div></div>
      </div>
    </div>
  </body>
</html>
